div {
  width: 100px;
  height: 100px;
}

.satu {
  background-color: lightblue;
}

.dua {
  background-color: lightcoral;
  float: right;
  margin-left: 10px;
}

.tiga {
  background-color: lightgreen;
}