div {
  width: 300px;
  margin: 20px auto;
  padding: 50px;
  box-sizing: border-box;
}

.satu {
  background-color: lightblue;
  border: 15px solid red;
}

.dua {
  background-color: lightcoral;
  border: 10px solid black;
}